@using Resources
<div class="jumbotron">
    <h1>iPlayground</h1>
    <p class="lead">iPlayground is a small application to improve your memory skills.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Default.GridMem_Title</h2>
        <p>
            @Default.GridMem_Desc
        </p>
        <p><a class="btn btn-default" href="#games/GridMemory">Start &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Default.Mandala_Title</h2>
        <p>@Default.Mandala_Desc</p>
        <p><a class="btn btn-default" href="#games/Mandala">Start &raquo;</a></p>
    </div>
</div>
