@using Resources
<div class="ng-cloak container">
    <div class="row" id="gridMenu">
        <div class="btn-toolbar memGrid">
            <div class="btn-group" role="group">
                <span class="navbar-brand" my-gmquestion="@Default.GridMem_Question">{{mandalaCtrl.service.question}}</span>
            </div>
            <div class="btn-group pull-right" role="group">
                <button class="btn btn-default" ng-click="mandalaCtrl.init()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </div>
            <div class="btn-group pull-right" role="group">
                <button class="btn btn-success disabled">
                    <span class="label label-success badge">{{mandalaCtrl.countSuc}}</span>
                </button>
                <button class="btn btn-danger disabled">
                    <span class="label label-danger badge">{{mandalaCtrl.countErr}}</span>
                </button>
            </div>
            <div class="btn-group pull-right" role="group">
                <button class="btn btn-default" ng-click="mandalaCtrl.upLimit()">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </button>
                <button class="btn btn-default disabled">
                    <span class="glyphicon glyphicon-th"></span>
                    <span class="badge">{{mandalaCtrl.service.limit}}</span>
                </button>
                <button class="btn btn-default" ng-click="mandalaCtrl.downLimit()">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
            </div>
            <div class="btn-group pull-right" role="group">
                <button class="btn btn-default" ng-click="mandalaCtrl.upSeconds()">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </button>
                <button class="btn btn-default disabled">
                    <span class="glyphicon glyphicon-time"></span>
                    <span class="badge">{{mandalaCtrl.service.seconds}}</span>
                </button>
                <button class="btn btn-default" ng-click="mandalaCtrl.downSeconds()">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="card" ng-class="mandalaCtrl.cardClasses" ng-repeat="file in mandalaCtrl.service.files" ng-click="mandalaCtrl.flipCard (file, $event)">
            <div class="face front thumbnail">
                <img ng-src="{{file.Url}}" alt="{{file.Name}}" title="{{file.Name}}">
                <div class="caption">{{file.Name}}</div>
            </div>
            <div class="face back thumbnail">
                <img ng-src="~/Content/Images/cover.jpg" alt="{{file.Name}}" title="{{file.Name}}">
                <div class="caption">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
