<div class="row" ng-controller="ngFilesPreview">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-repeat="file in files">
        <div class="thumbnail">
            <img ng-src="{{file.Url}}" alt="{{file.Name}}" title="{{file.Name}}" />
            <div class="caption">{{file.Name}} </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        angular.module("iPlaygroundApp")
            .controller('ngFilesPreview', ['$scope', '$resource',
            function ($scope, $resource) {
                $scope.files = [];
                $scope.Init = function () {
                    $scope.files = $resource("/Games/GetCards?limit=:limit", { limit: 10000 }).query();
                    //console.log($scope.files);
                };
                $scope.Init();
            }]);

    </script>
}

